<h1>Recipes</h1>

<%= link_to "New recipe", new_recipe_path %>

<div id="recipes">
    <% @recipes.each do |recipe| %>
        <div>
            <%= link_to recipe.name, recipe %>
        </div>
    <% end %>
</div>
